* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 300px;
}
.main-manu, .sub{
  list-style: none;
}
.main-manu {
  position: relative;

}

.menu-item {
  display: block;
  width: 120px;
  height: 50px;
  background-color: rgb(187, 116, 253);
  border: 1px solid white;
  float: left;
  line-height: 50px;
  text-align: center;
  }
  .main-manu > li {
    float: left;
  }
  .sub {
    display: block;
    position: absolute;
   margin-left: 100px;
  /* margin-top: -104px;*/
   width: 300px;
   display: none;
    
  }
  
.menu-item {
  color: rgb(252, 243, 243);
  text-decoration: none;
  display: block;
}
.menu-item:hover {
  background: rgb(247, 162, 162); ;
}
.parent-menu:hover > .sub {
  display: block;
}
.test1 {
  background-color: rgb(10, 161, 111);
}
.test2 {
  background-color: rgb(216, 177, 49);
}
.test3 {
  background-color: rgb(81, 81, 245);
}

