html, body {
    margin: 0;
    padding: 0;
    font-family: ‘Open Sans’, sans-serif;
  }
  .nav {
    width: 300px;
    margin-left: 30px;
  }
  .subcategotes {
    display: none;
    background-color: rgb(201, 83, 47);
    position: absolute;left: 130px;
  }
  .list:hover > .subcategotes {
    display: block;
    position: relative;
}
  .main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .main-menu a {
    display: block;
    padding: 10px;
    background-color: rgb(112, 10, 10);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  .main-menu a:hover {
    cursor: pointer;
    background-color: rgb(221, 117, 117);
  }
  